<div class="topnav">
        <a (click)="tornar()">Tornar</a>
</div>

<div id="divClickable" (click)="onDivClick()">clicka per comensar</div>

<form id="comprovar" (ngSubmit)="comprovarResposta(textarea.value)"><input id="inputNumber" type="number" #textarea>
        <button type="submit">Comprovar</button></form>

<div *ngIf="maximaPuntuacio" class="card-header">
        <h2 class="millorPuntuacio">La teva millor puntuació és: Nivell {{maximaPuntuacio}}</h2>
</div>
<div *ngIf="ranking" class="card-body">
        <h5 class="card-title">Els jugadors amb millor memòria!</h5>

        <div *ngFor="let puntuacio of ranking; index as i">
                <p class="card-text textGran">{{i + 1}}) Usuari: {{puntuacio.username}} Nivell més alt:
                        {{puntuacio.nivell}}</p>
        </div>

</div>